<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>disAs</display-name>
	<welcome-file-list>
		<welcome-file>Request.jsp</welcome-file>

	</welcome-file-list>
	<servlet>
		<servlet-name>FibServlet</servlet-name>
		<servlet-class>ie.gmit.FibServlet</servlet-class>

		<init-param>
			<param-name>RMIHostName</param-name>
			<param-value>fib</param-value>
		</init-param>

		<init-param>
			<param-name>Port</param-name>
			<param-value>1099</param-value>
		</init-param>
		
		<init-param>
			<param-name>ObjName</param-name>
			<param-value>Fibonacci</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FibServlet</servlet-name>
		<url-pattern>/FibS</url-pattern>
	</servlet-mapping>

</web-app>